#main-visual {
  height: 100vh;
}
#main-visual li {
  position: relative;
}
#main-visual li.visual01 .img {
  background-image: url(../images/main/main-visual/mv_01.jpg);
}
#main-visual li.visual02 .img {
  background-image: url(../images/main/main-visual/mv_02.jpg);
}
#main-visual li.swiper-slide-active .img {
  transform: scale(1);
}
#main-visual li .img {
  height: 100vh;
  transform: scale(1.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease;
  transition-delay: 1s;
}
#main-visual li .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-size: 24px;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
}
#main-visual li .txt strong {
  font-size: 60px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
}