#main-visual {
  overflow: hidden;
}
#main-visual .mask {
  overflow: hidden;
}
#main-visual li {
  position: relative;
}
#main-visual li.visual01 .img {
  background-image: url(../images/main/main-visual/mv_01.jpg);
}
#main-visual li.visual02 .img {
  background-image: url(../images/main/main-visual/mv_02.jpg);
}
#main-visual li.swiper-slide-active .img {
  transform: scale(1);
}
#main-visual li .img {
  height: 100vh;
  transform: scale(1.2);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 5s ease;
  transition-delay: 1s;
}
#main-visual li .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-size: 24px;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
}
#main-visual li .txt strong {
  display: block;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
}

.section .title-box {
  margin-bottom: 50px;
}
.section .title-box h2 {
  font-size: 20px;
  font-weight: 500;
  color: #0e9447;
}
.section .title-box p {
  margin-top: 30px;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.25;
}
.section .circle-txt {
  width: 300px;
  position: absolute;
  top: 0px;
  right: 80px;
  z-index: 2;
  font-size: 32px;
  font-weight: 500;
  color: #ccc;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  -webkit-animation: circle-ani 20s linear infinite;
  animation: circle-ani 20s linear infinite;
}

#business {
  overflow: hidden;
}
#business .container {
  position: relative;
}
#business ul {
  display: flex;
  justify-content: space-between;
}
#business ul li:nth-last-child(1) {
  margin-top: -40px;
}
#business ul li img {
  border-radius: 20px;
}
#business ul li .txt {
  margin-top: 30px;
}
#business ul li .txt h3 {
  font-size: 24px;
  font-weight: 500;
}
#business ul li .txt p {
  margin-top: 10px;
  font-size: 18px;
}

#product .product01 {
  background-image: url("../images/main/product/ms3_01.jpg");
}
#product .product02 {
  background-image: url("../images/main/product/ms3_02.jpg");
}
#product .product03 {
  background-image: url("../images/main/product/ms3_03.jpg");
}
#product .product04 {
  background-image: url("../images/main/product/ms3_04.jpg");
}
#product .product05 {
  background-image: url("../images/main/product/ms3_05.jpg");
}
#product .product06 {
  background-image: url("../images/main/product/ms3_06.jpg");
}
#product .product07 {
  background-image: url("../images/main/product/ms3_07.jpg");
}
#product .title-box p {
  font-size: 20px;
}
#product .title-box strong {
  display: block;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
}
#product .title-box a {
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#product .title-box a:after {
  margin-left: 30px;
  font-family: "FontAwesome";
  content: "\f061";
}
#product li {
  display: flex;
  align-items: center;
  height: 100vh;
  background-size: cover;
}
#product .circle-txt {
  top: 200px;
  right: 300px;
}
#product .control-box {
  width: 100%;
  position: absolute;
  bottom: 100px;
  z-index: 3;
}
#product .control-box .container {
  display: flex;
  align-items: center;
}
#product .control-box .btns {
  margin-left: 30px;
}
#product .control-box .btns .btn-play {
  display: none;
}
#product .control-box .btns button {
  font-size: 21px;
}
#product .control-box .pagination-box {
  position: relative;
}
#product .control-box .pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0;
  margin-right: 30px;
  border: 1px solid #111;
  opacity: 1;
  background-color: #fff;
}
#product .control-box .pagination .swiper-pagination-bullet-active {
  background-color: #111;
}
#product .control-box .pagination .swiper-pagination-bullet:nth-last-child(1) {
  margin-right: 0;
}
#product .control-box .line {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  margin-top: -1px;
  transition: all 5s linear;
  background-color: #111;
  transform-origin: 0 50%;
}

#news .container {
  display: flex;
  justify-content: space-between;
}
#news .container .title-box p {
  font-size: 20px;
}
#news .container .title-box strong {
  display: block;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
}
#news .container .title-box a {
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#news .container .title-box a:after {
  margin-left: 30px;
  font-family: "FontAwesome";
  content: "\f061";
}
#news .container .contents-box {
  width: 1000px;
}
#news .container .contents-box .notice {
  display: flex;
  padding: 30px 20px;
  font-size: 20px;
  border-top: 2px solid #111;
  border-bottom: 1px solid #111;
}
#news .container .contents-box .notice p {
  font-weight: 500;
  margin-left: 30px;
}
#news .container .contents-box .notice .date {
  margin-left: auto;
}
#news .container .contents-box .notice-list-box {
  border-bottom: 1px solid #111;
  padding: 30px 0;
}
#news .container .contents-box .notice-list-box li {
  background: url(../images/main/nows&notice/k_none.jpg);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}
#news .container .contents-box .notice-list-box li a {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  opacity: 0;
  transition: all 0.25s ease;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
#news .container .contents-box .notice-list-box li a:hover {
  opacity: 1;
}
#news .container .contents-box .notice-list-box li a p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  line-height: 1.5;
  margin-top: 30px;
}
#news .container .contents-box .notice-list-box li a .more::after {
  content: "\f061";
  font-family: "FontAwesome";
  display: block;
  margin-top: 20px;
}

#fp-nav {
  transition: all 0.25s ease-in-out 0.5s;
}
#fp-nav.color ul li a span {
  background-color: #111 !important;
}
#fp-nav.color ul li a span::before {
  border-color: #111;
}
#fp-nav.color ul li .fp-tooltip {
  color: #111;
}
#fp-nav.fp-right {
  right: 80px;
}
#fp-nav.last {
  right: -200px;
}
#fp-nav ul li {
  width: 30px;
  height: 30px;
  margin: 30px 0;
}
#fp-nav ul li:nth-last-child(1) {
  display: none;
}
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin: 0;
}
#fp-nav ul li a.active span {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin: 0;
}
#fp-nav ul li a.active span::before {
  transform: translate(-50%, -50%) scale(1);
}
#fp-nav ul li a span {
  background-color: #fff;
  width: 5px;
  height: 5px;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
#fp-nav ul li a span::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.25s ease;
}
#fp-nav ul li .fp-tooltip {
  text-transform: uppercase;
  top: 50%;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.5;
  width: auto;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 50px;
}
#fp-nav ul li a.active + .fp-tooltip {
  opacity: 1;
}

@-webkit-keyframes circle-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circle-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
